# Solve problem 1

In [3]:
import pandas as pd

In [63]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

joined = ratings.merge(movies, on='movieId', how='left')
best = joined[joined['rating'] == 5.0]['title'].value_counts().head(1)
best

Shawshank Redemption, The (1994)    153
Name: title, dtype: int64

# Solve problem 2

In [119]:
power = pd.read_csv('power.csv')

power[power.country.isin(['Latvia','Lithuania','Estonia']) 
      & (power.category.isin([4, 12, 21])) 
      & (power.year >= 2005) 
      & (power.year <= 2010) 
      & (power.quantity > 0)].quantity.sum()

240580.0

# Solve problem 3

In [143]:
page_url = 'https://www.finanz.ru/valyuty/eur-rub'

data_frame = pd.read_html(page_url, attrs = {'class': 'news_table'}, encoding='utf-8')
data_frame

[       Дата  Закрытие  Открытие  Максимум  Минимум
 0  08.04.21    915415    913855    918560   911070
 1  07.04.21    913835    913545    927387   913035
 2  06.04.21    917225    901615    917617   899727
 3  05.04.21    901595    899625    902700   895570
 4  04.04.21    899620    899620    899620   899620
 5  03.04.21    899455    899455    899455   899455
 6  02.04.21    899455    899765    899780   894530
 7  01.04.21    899778    887105    899855   886365
 8  31.03.21    887125    889385    890925   882222
 9  30.03.21    889465    890625    892771   886839,
        Имя  Unnamed: 1     %     курс                 Дата
 0  EUR/RUB         NaN   355   918665  09.04.2021 15:03:00
 1  USD/RUB         NaN  5143   772151  09.04.2021 15:10:00
 2  CHF/RUB         NaN  3727   834032  09.04.2021 15:10:00
 3  JPY/RUB         NaN  1262     7039  09.04.2021 15:10:00
 4  GBP/RUB         NaN  4114  1059463  09.04.2021 15:10:00
 5  NOK/RUB         NaN   242    90824  09.04.2021 15:10:00
 6  AUD/RUB         NaN  2772   589456  09.04.2021 15:10:00
 7  NZD/RUB         NaN  4852   544749  09.04.2021 15:10:00
 8  TRY/RUB         NaN   399    94713  09.04.2021 15:10:00]